body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: coral;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    /* image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges; */
}

.photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
}

.photo img {
    width: 100%;
}

.back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1vw 5vw;
}

.logo {
    margin: 1vw;
    width: 25vw;
    opacity: .1;
}

.logo:nth-child(2n+0) {
    margin-left: 15vw;
}

.cover {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 32%, rgba(0, 0, 0, 0.7455357142857143) 47%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
    width: 100vw;
    height: 100vh;
}